:root {
    --c: rgb(150, 150, 150);
    --ce: rgb(82, 82, 82);
    --cmz: rgb(29, 29, 29);
    --p: rgb(0, 0, 0);
    --y: rgb(255, 182, 7);
    --b: rgb(255, 255, 255);
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-caption {
    bottom: 270px;
}

.carousel-caption h5 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}

.carousel-caption p {
    width: 75%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}

.navbar-light .navbar-brand {
    color: var(--b);
    transition: color .4s;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: var(--b);
    transition: color .4s;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--p);
    font-weight: bold;
}

.navbar-toggler {
    background: var(--b);
    transition: color .4s;
}

.navbar-nav {
    text-align: center;
}

.nav-link {
    padding: .2rem 1rem;
    transition: color .4s;
}

.nav-link.active,
.nav-link:focus {
    color: var(--b);
    transition: color .4s;
}

.navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: var(--y);
    transition: color .4s;
}

.letrash2 {
    padding-bottom: 1.5rem;
    padding-top: 5rem;
}

.letrash3 p {
    color: var(--ce);
}

.letrash2,
.letrash3 {
    font-family: bahnschrift;
    text-align: center;
}

.letrash3 h3 {
    padding-top: 2rem;
}

.letrash3 button,
.colorbutton {
    color: var(--b);
}

.carousel-item h1 {
    font-size: 5rem;
}

.menulinks li {
    padding-right: 1.5rem;
    color: var(--p);
}

.carrossel h1,
p {
    color: var(--p);
}

#logotxt {
    color: var(--p);
    padding-left: 1rem;
}

.btn {
    background-color: var(--y);
}

.colorbutton {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.carrossel h1 {
    margin-bottom: 2rem;
}

.carrossel p {
    margin-bottom: 10rem;
}

.teste1 button {
    margin-bottom: -22rem;
}

.activee a {
    text-decoration: underline 0.4rem var(--y);
    transition: color .4s;
}

.activee a:hover {
    text-decoration: underline 0.4rem var(--y);
    color: var(--y);
    transition: color .4s;
}

.colorbutton:hover,
.letrash3 button:hover {
    transition: color .4s;
    color: var(--b);
}

.navbar {
    margin-bottom: -5rem;
    z-index: 10;
}

.carrossel {
    z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
    z-index: 2;
}

.letrash3 {
    padding-bottom: 8rem;
}

.amarelo {
    color: var(--b);
    background-color: var(--y);
}

.amarelo button,
.amarelo button:hover,
.amarelo p {
    color: var(--b);
}

.amarelo button {
    background-color: var(--p);
    font-family: Poppins;
    border-radius: .5rem;
}

.berco {
    margin-left: 35rem;
    padding-top: 8rem;
    padding-bottom: 9rem;
}

.berco img {
    max-width: 35vw;
}

.aboutus {
    padding-top: 8rem;
    width: 30vw;
    float: left;
}

.aboutus h1,
.aboutus p {
    padding-bottom: 2.5rem;
}

.aboutus p {
    line-height: 2;
    font-family: bahnschrift;
}

.aboutus h1 {
    font-family: Poppins;
}

.amarelo button {
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.ourfurnitures {
    text-align: center;
}

.ourfurnitures h1 {
    font-family: poppins;
    padding-top: 10rem;
}

.ourfurnitures p {
    font-family: bahnschrift;
    padding-bottom: 5rem;
}

.ourfurnitures img {
    max-width: 35vw;
}

.ourfurnitures h3 {
    font-family: 'Open Sans';
    color: var(--y);
    font-size: 1.2rem;
    text-align: left;
    padding-left: 1vw;
    padding-top: 8rem;
    padding-bottom: 1vw;
    font-weight: bold;
}

.ourfurnitures .row p {
    padding-left: 1vw;
    padding-right: 1vw;
    text-align: left;
}

.overlay {
    width: 5rem;
    height: 5rem;
    transition: .5s ease;
    opacity: 0;
    transform: translate(-50%, -50%);
    background-image: url("../img/lupabranca.png");
    background-repeat: no-repeat;
    background-size: 5rem;
    margin-left: 17rem;
    margin-top: -10rem;
}

.ourfurnitures .col:hover .overlay {
    opacity: .8;
}

.ourfurnitures .col:hover .image {
    opacity: .5;
}

.whoweare {
    background-image: url("../img/fundowhoweare.png");
    background-repeat: repeat-y;
    text-align: center;
    color: var(--b);
    padding-bottom: 6.5vh;
}

.whoweare p {
    color: var(--b);
    font-family: bahnschrift;
}

.whoweare h1,
.whoweare h3 {
    font-family: poppins;
}

.whoweare button {
    font-family: bahnschrift;
    font-weight: bold;
    background-color: var(--b);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-top: 2rem;
}

.whoweare h1 {
    padding-top: 3rem;
}

.whoweare h3,
.whoweare p {
    padding-top: 1rem;
}
.ourprojects{
    font-family: bahnschrift;
    text-align: center;
    padding-top: 15vh;
}
.ourprojects img{
    max-width: 23vw;
    margin-top: 5vh;
}
.ourprojects label{
    position: relative;
    bottom: 25vw;
    font-weight: bold;
    font-size: 1.3vw;
    color: var(--b);
}
.ourprojects label button{
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    opacity: 1;
    transition: .5s ease;
    left: 6.5vw;
    background-color: transparent;
    color: var(--b);
}
.ourprojects .botao{
    top: 8vw;
}
.overlay2{
    width: 20vw;
    height: 38vh;
    transition: .5s ease;
    opacity: 0;
    transform: translate(-50%, -50%);
    background-color: var(--y);
    position: relative;
    left: 12vw;
    bottom: 20.8vh;
    border-radius: .5rem;
}
.ourprojects .col:hover .image{
    opacity: 1;
    background-color: transparent;
    color: var(--b);
}
.ourprojects .col:hover .overlay2{
    opacity: 0.8;
}