:root {
  --c: rgb(150, 150, 150);
  --ce: rgb(82, 82, 82);
  --cmz: rgb(29, 29, 29);
  --p: rgb(0, 0, 0);
  --y: rgb(255, 182, 7);
  --b: rgb(255, 255, 255);
}

body {
  font-family: poppins;
}
body h1 {
  font-size: clamp(2rem, 1rem + 3vw, 3vw);
}
body h2 {
  font-size: clamp(1.3rem, 0.7rem + 2vw, 2vw);
}
body h3 {
  font-size: clamp(1rem, 0.5rem + 1.8vw, 1.8vw);
}
body p {
  font-size: clamp(0.7rem, 0.4rem + 1.1vw, 1.1vw);
}
body a {
  font-size: clamp(0.7rem, 0.4rem + 1.1vw, 1.1vw);
}

.carousel-item {
  background: no-repeat center center scroll;
  background-size: cover;
}

@media (max-width: 575px) {
  .carousel-caption {
    bottom: 3.5rem;
  }
}

.carousel-caption p {
  width: 75%;
  margin: auto;
  line-height: 1.9;
}

.navbar-light .navbar-brand {
  color: var(--b);
  transition: color 0.4s;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: var(--b);
  transition: color 0.4s;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--p);
}

.navbar-toggler {
  transition: color 0.4s;
}

.navbar-nav {
  text-align: center;
}

.nav-link {
  padding: 0.2vw 1vw;
  transition: color 0.4s;
}

.nav-link.active,
.nav-link:focus {
  color: var(--b);
  transition: color 0.4s;
}

.navbar-toggler {
  padding: 1px 5px;
  font-size: 18px;
  line-height: 0.3;
  z-index: 5;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: var(--y);
  transition: color 0.4s;
}

.letrash2 {
  padding-bottom: 1.5vw;
  padding-top: 5vw;
}

.letrash3 img {
  width: clamp(4rem, 2rem + 6vw, 6vw);
}

.letrash3 p {
  color: var(--ce);
}

.letrash2,
.letrash3 {
  font-family: bahnschrift;
  text-align: center;
}

.letrash3 h3 {
  padding-top: 2vw;
}

.colorbutton {
  color: var(--b);
  font-size: clamp(0.7rem, 1rem + 1.2vw, 1.2vw);
}

.menulinks li {
  padding-right: 1.5vw;
  color: var(--p);
}

.carrossel h1,
p {
  color: var(--p);
}

#logotxt {
  color: var(--p);
  padding-left: 1.4vw;
  font-size: clamp(1rem, 1rem + 2vw, 2vw);
  position: relative;
  top: 0.4vw;
}

.btn {
  background-color: var(--y);
}

.colorbutton {
  padding-top: 1vw;
  padding-bottom: 1vw;
  padding-left: 2vw;
  padding-right: 2vw;
}

.carrossel h1 {
  margin-bottom: 2vw;
}

.carrossel p {
  margin-bottom: 10vw;
}

.teste1 button {
  margin-bottom: -1rem;
}

@media (max-width: 575px) {
  .teste1 {
    height: 100%;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}
@media (min-width: 576px) {
  .teste1 {
    height: 80%;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2rem;
  }
}
@media (min-width: 576px) {
  .teste1 p {
    margin-bottom: 22vw;
  }
}
@media (min-width: 992px) {
  .teste1 p {
    margin-bottom: 26vw;
  }
}

.activee a {
  -webkit-text-decoration: underline 0.4vw var(--y);
          text-decoration: underline 0.4vw var(--y);
  transition: color 0.4s;
}

.activee a:hover {
  -webkit-text-decoration: underline 0.4vw var(--y);
          text-decoration: underline 0.4vw var(--y);
  color: var(--y);
  transition: color 0.4s;
}

.colorbutton:hover,
.letrash3 button:hover {
  transition: color 0.4s;
  color: var(--b);
}

.navbar {
  z-index: 3;
  background-size: 100vw;
  background-repeat: repeat-y;
}
@media (max-width: 575px) {
  .navbar {
    background-image: url(../img/fundo2.png);
    background-repeat: repeat-y;
    margin-bottom: 0rem;
    margin-bottom: -3.6rem;
  }
}
@media (min-width: 576px) {
  .navbar {
    background-image: url(../img/fundo2.png);
    background-repeat: repeat-y;
    margin-bottom: 0rem;
  }
}
@media (min-width: 992px) {
  .navbar {
    margin-bottom: -5rem;
    background-image: none;
  }
}
@media (min-width: 1700px) {
  .navbar {
    margin-bottom: -8rem;
    background-image: none;
  }
}

.imgnavbar {
  width: clamp(2.5rem, 1.5rem + 5vw, 5vw);
}

.carrossel {
  z-index: 2;
}
@media (max-width: 575px) {
  .carrossel {
    height: 20rem;
  }
}
@media (max-width: 575px) {
  .carrossel img {
    height: 20rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 575px) {
  .carrossel p {
    display: none;
  }
}

.carousel-control-prev,
.carousel-control-next {
  z-index: 2;
}

.letrash3 {
  padding-bottom: 8vw;
}
.letrash3 button {
  margin-bottom: 5vw;
  color: var(--b);
  font-size: clamp(0.7rem, 1rem + 1.2vw, 1.2vw);
}

.amarelo {
  color: var(--b);
  background-color: var(--y);
  height: clamp(22rem, 5rem + 40vw, 40vw);
  display: flex;
}
@media (min-width: 450px) {
  .amarelo .container {
    width: 90%;
  }
}
.amarelo .container button {
  background-color: var(--p);
  font-family: Poppins;
  border-radius: 0.5vw;
}
.amarelo .container .row {
  height: 100%;
}
.amarelo .container button,
.amarelo .container button:hover,
.amarelo .container p {
  color: var(--b);
}
.amarelo .container .berco {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}
.amarelo .container .berco img {
  max-width: 30vw;
  min-width: 10rem;
}

.aboutus {
  padding-top: clamp(0.1rem, 2rem + 8vw, 8vw);
  float: left;
}
.aboutus h1,
.aboutus p {
  padding-bottom: clamp(0.1rem, 0.1rem + 0.1vw, 2.5vw);
}
.aboutus p {
  line-height: clamp(0.7rem, 1rem + 2vw, 2vw);
  font-family: bahnschrift;
}
.aboutus h1 {
  font-family: Poppins;
  font-size: clamp(1.5rem, 1rem + 3vw, 3vw);
}

.amarelo button {
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  padding-left: 2vw;
  padding-right: 2vw;
  font-size: clamp(0.7rem, 1rem + 1.2vw, 1.2vw);
}

.ourfurnitures {
  text-align: center;
}

.ourfurnitures h1 {
  font-family: poppins;
  padding-top: 10vw;
  font-size: clamp(1.5rem, 1rem + 3vw, 3vw);
}
@media (min-width: 1920px) {
  .ourfurnitures h1 {
    padding-top: 5vw;
  }
}

.ourfurnitures p {
  font-family: bahnschrift;
  padding-bottom: 3vw;
}

.ourfurnitures img {
  max-width: 100%;
  min-width: 15rem;
}
@media (max-width: 575px) {
  .ourfurnitures img {
    width: 290px;
    height: 193px;
  }
}

.ourfurnitures h3 {
  font-family: "Open Sans";
  color: var(--y);
  font-size: clamp(1rem, 0.5rem + 1.5vw, 1.5vw);
  text-align: left;
  padding-left: 1vw;
  margin-top: -10vw;
  padding-bottom: 1vw;
  font-weight: bold;
}

.ourfurnitures .row p {
  padding-left: 1vw;
  padding-right: 1vw;
  text-align: left;
}

.overlay {
  min-width: 15rem;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  background-image: url("../img/lupabranca.png");
  background-repeat: no-repeat;
  background-size: 15%;
  background-position: center;
  margin-top: clamp(-5rem, -5rem, -11.5vw);
  min-height: 10rem;
  height: 24vw;
}
@media (max-width: 575px) {
  .overlay {
    height: 193px;
    margin-top: -12.5rem;
    margin-bottom: 5rem;
    background-size: 3rem;
  }
}
@media (min-width: 576px) {
  .overlay {
    margin-top: -10.5rem;
    margin-bottom: 78px;
  }
}
@media (min-width: 992px) {
  .overlay {
    margin-top: -18rem;
    margin-bottom: 172px;
    height: 290px;
  }
}
@media (min-width: 1200px) {
  .overlay {
    height: 350px;
    margin-top: -21.8rem;
  }
}
@media (min-width: 1700px) {
  .overlay {
    width: 559px;
    height: 372px;
    margin-left: 7%;
  }
}
@media (min-width: 1920px) {
  .overlay {
    margin-left: 10%;
    margin-bottom: 230px;
    margin-top: -23.8rem;
  }
}

.coluna {
  height: 100%;
}
@media (min-width: 576px) {
  .coluna {
    padding-left: 2vw;
    padding-right: 2vw;
  }
}

.ourfurnitures .coluna:hover .overlay {
  opacity: 0.8;
}

.ourfurnitures .coluna:hover .image {
  opacity: 0.5;
}

.whoweare {
  background-image: url("../img/fundowhoweare.png");
  background-repeat: repeat-x;
  text-align: center;
  color: var(--b);
  padding-bottom: 6.5vw;
}

.whoweare p {
  color: var(--b);
  font-family: bahnschrift;
}

.whoweare h1,
.whoweare h3 {
  font-family: poppins;
}

.whoweare button {
  font-family: bahnschrift;
  font-weight: bold;
  background-color: var(--b);
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  margin-top: 2vw;
  font-size: clamp(0.7rem, 1rem + 1.2vw, 1.2vw);
}
@media (min-width: 1700px) {
  .whoweare button {
    margin-top: 0;
  }
}

.whoweare h1 {
  padding-top: 3vw;
}
@media (min-width: 1920px) {
  .whoweare h1 {
    padding-top: 1vw;
  }
}

.whoweare h3,
.whoweare p {
  padding-top: 1vw;
}

.ourprojects {
  font-family: bahnschrift;
  text-align: center;
  padding-top: 15vw;
  min-height: 29rem;
}
@media (min-width: 1920px) {
  .ourprojects {
    padding-top: 0vw;
  }
}
.ourprojects img {
  max-width: clamp(8rem, 8rem + 23vw, 23vw);
  margin-top: 5vw;
}
.ourprojects label {
  position: relative;
  bottom: 25vw;
  font-weight: bold;
  font-size: 1.3vw;
  color: var(--b);
}
@media (max-width: 575px) {
  .ourprojects label {
    bottom: 9rem;
    font-size: 0.6rem;
  }
}
.ourprojects label button {
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  opacity: 1;
  transition: 0.5s ease;
  left: 6.5vw;
  background-color: transparent;
  color: var(--b);
  font-size: clamp(0.7rem, 1rem + 1.2vw, 1.2vw);
}
.ourprojects .botao {
  top: 8vw;
}
@media (max-width: 575px) {
  .ourprojects .botao {
    top: 2.5rem;
  }
}
@media (min-width: 1920px) {
  .ourprojects .botao {
    top: 5vw;
  }
}
.ourprojects .row {
  align-content: center;
  align-items: center;
  justify-content: center;
}

.overlay2 {
  max-width: clamp(7rem, 7rem + 22vw, 22vw);
  height: clamp(7rem, 7rem + 19vw, 19vw);
  transition: 0.5s ease;
  opacity: 0;
  transform: translate(-50%, -50%);
  background-color: var(--y);
  position: relative;
  left: 50%;
  bottom: 11.5vw;
  border-radius: 0.5rem;
}
@media (max-width: 575px) {
  .overlay2 {
    bottom: 4rem;
    max-width: 115px;
    height: 115px;
  }
}
@media (min-width: 576px) {
  .overlay2 {
    max-width: 70%;
  }
}
@media (min-width: 1200px) {
  .overlay2 {
    max-width: 65%;
  }
}
@media (min-width: 1700px) {
  .overlay2 {
    max-width: 350px;
    max-height: 350px;
    margin-top: 1vw;
  }
}
@media (min-width: 1920px) {
  .overlay2 {
    max-width: 330px;
    max-height: 330px;
    margin-top: 2vw;
  }
}

.overlay2aa {
  padding-bottom: 2vw;
}
@media (max-width: 575px) {
  .overlay2aa {
    height: 12rem;
  }
}
@media (min-width: 1920px) {
  .overlay2aa {
    margin-bottom: -8vw;
  }
}

.ourprojects .overlay2aa:hover .image {
  opacity: 1;
  background-color: transparent;
  color: var(--b);
}

.ourprojects .overlay2aa:hover .overlay2 {
  opacity: 0.8;
}

.ourclients {
  text-align: left;
  font-family: poppins;
  align-items: center;
  justify-content: space-between;
  align-content: space-between;
}
@media (max-width: 767px) {
  .ourclients {
    text-align: center;
  }
}
.ourclients p {
  font-family: bahnschrift;
  font-size: clamp(0.7rem, 0.4rem + 1vw, 1vw);
}
.ourclients img {
  padding-right: 1vw;
  width: 100%;
  padding-top: clamp(1rem, 1rem + 0.5vw, 0.3vw);
}
@media (max-width: 767px) {
  .ourclients img {
    margin-bottom: 1.5rem;
  }
}
.ourclients .ourclientscolleft {
  border: solid 0.1vw var(--p);
  border-radius: 0.1vw;
  margin-top: 2vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
}
.ourclients .ourclientscolright {
  border: solid 0.1vw var(--p);
  border-radius: 0.1vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  margin-top: 2vw;
}
.ourclients .row p {
  color: var(--ce);
}
.ourclients .col img {
  padding-right: 1vw;
}

.paginaclient {
  float: left;
  margin-top: 8vw;
}

.paginaclientamarelo a {
  background-color: var(--y);
  border: solid 0;
  border-radius: 10vw;
  padding: 1.5vw;
  margin: 1vw;
}
@media (max-width: 767px) {
  .paginaclientamarelo a {
    padding: 1rem;
  }
}

.paginaclientamarelo li {
  background-color: var(--y);
  border: solid 0;
  border-radius: 10vw;
}

.paginaclientamareloinv {
  opacity: 0;
}

.paginaclientpreto a {
  background-color: var(--p);
  border: solid 0;
  border-radius: 10vw;
  padding: 1.5vw;
  margin: 1vw;
}
@media (max-width: 767px) {
  .paginaclientpreto a {
    padding: 1rem;
  }
}

.rodape {
  background-image: url("../img/rodapebg.png");
  background-repeat: repeat-y;
  opacity: 0.8;
}

.contactus {
  background-color: rgba(255, 179, 0, 0.8);
  opacity: 1;
  padding-bottom: 2%;
}
@media (min-width: 1800px) {
  .contactus {
    padding-bottom: 0;
  }
}

.contactus h1 {
  padding-top: 5vw;
  padding-bottom: 2vw;
  color: var(--b);
}
@media (min-width: 1800px) {
  .contactus h1 {
    padding-top: 2vw;
  }
}
@media (min-width: 2000px) {
  .contactus h1 {
    padding-top: 1vw;
  }
}

.contactus input,
.contactus textarea {
  margin-top: 1vw;
  font-size: 1.5vw;
  padding: 1.2vw;
}

.contactsend {
  padding-left: clamp(1.7rem, 2rem + 2.5vw, 2.5vw);
  padding-right: clamp(1.7rem, 2rem + 2.5vw, 2.5vw);
  padding-top: clamp(0.7rem, 0.4rem + 1.1vw, 1.1vw);
  padding-bottom: clamp(0.7rem, 0.4rem + 1.1vw, 1.1vw);
  margin-top: 2vw;
  color: var(--b);
  background-color: transparent;
  border: solid 0.3vw var(--b);
  font-size: clamp(1rem, 1rem + 1.2vw, 1.2vw);
  font-weight: bold;
}
@media (min-width: 1920px) {
  .contactsend {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media (max-width: 767px) {
  .contactbutton {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 2000px) {
  .contactbutton {
    margin-top: -2vw;
    margin-bottom: 1vw;
  }
}

.contactsend:hover {
  color: var(--ce);
  background-color: var(--b);
  border: solid 0.3vw var(--b);
  font-size: clamp(1rem, 1rem + 1.2vw, 1.2vw);
  font-weight: bold;
}

.contactimage img {
  max-width: 100%;
}

.together {
  opacity: 1;
  color: var(--b);
  background-color: rgba(0, 0, 0, 0.8);
  padding-top: 5vw;
  padding-bottom: 5vw;
}
@media (min-width: 1800px) {
  .together {
    padding-top: 3vw;
    padding-bottom: 3vw;
  }
}

.together h1 {
  font-weight: bold;
}

.together p {
  color: var(--b);
}

.together a {
  text-decoration: none;
  color: var(--b);
}

.together input,
.together button {
  border-bottom: solid 0.1vw var(--b);
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  background-color: transparent;
  font-size: clamp(0.7rem, 0.4rem + 1.2vw, 1.2vw);
}

.together button {
  color: var(--b);
  font-weight: bold;
  padding-bottom: 1px;
}
@media (min-width: 1700px) {
  .together button {
    bottom: 1px;
  }
}
@media (min-width: 1700px) {
  .together button {
    bottom: 4px;
  }
}
@media (min-width: 1920px) {
  .together button {
    bottom: 5px;
  }
}

.together input:hover,
.together input:focus {
  border-bottom: solid 0.1vw var(--b);
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  background-color: transparent;
}

.together .input-group {
  max-width: 100%;
}

.socialmedia {
  background-color: var(--b);
  padding-top: 2vw;
  padding-bottom: 0.5vw;
}

.imagesmedia img {
  padding-left: 0.3vw;
  padding-right: 0.3vw;
}/*# sourceMappingURL=atividade.css.map */